*{
    font-family: "Sofia", sans-serif;
   
}
h1{
color: #D90368;
text-align: center;
}

.logo{
    width: 250px;
}
li{
    font-size: 20px;
}
.carousel-item{
    background-color: #D90368;
   /* height: vh;
    width: 100%;*/

}

.categorysearch{
    padding: 10px;
    margin: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
    
}
li{
    color:#D90368
}
.card-img-top{
    height: 130px;
}
.foot-card{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.icon{
    height: 40px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
tr{
    border: 2px solid #D90368;
    color:#D90368;
}
th{
    font-size: 18px;
}
p, th, li{
    font-family: 'Times New Roman', Times, serif;
}
.past{
    min-height: 60vh;
}
.details{
    border: 2px solid #D90368;
    border-radius: 1em;
    box-shadow: 3px 3px 5px #D90368;
    margin-top: 40px;
    padding: 5px;
}
