* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sofia", sans-serif;

}

body {
    height: 100vh;
    background-color: bisque;
}

.burguer {
    cursor: pointer;
}

.navbar-toggler-icon {
    height: 40px;
    width: 40px;

}

@media screen and (max-width:990px) {
    .nav-pills {

        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .categorysearch {
        flex-direction: column;
    }

    .search {
        margin: 1rem;
    }

    .datalist {
        flex-direction: column;
    }
}

header {
    min-height: 10vh;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    flex-wrap: wrap;
}

footer {
    height: 5vh;
}

h1 {
    color: #D90368;
    text-align: center;
}

#carouselExampleFade {
    background-color: #D90368;

}

button {
    background-color: #D90368;
}

.logo {
    width: 200px;
}

.nav-link {
    color: #D90368;
}

.nav-link:hover {
    color: bisque;
    text-shadow: 2px 2px 2px #D90368;
}

.active {
    background-color: #D90368 !important;
}

li {
    font-size: 22px;

}

.carousel-item {
    background-color: #D90368;
    height: 5vh;


}

.categorysearch {
    padding: 10px;
    margin: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;

}

.contact {
    height: 100%;
    flex-grow: 2;
    background-image: url("/images/ticket.jpg");
    background-size: cover;

}


.card-body {
    display: flex;
    background: rgb(195, 151, 34);
    background: linear-gradient(180deg, rgba(195, 151, 34, 0.520045518207283) 0%, rgba(253, 242, 45, 0.5704656862745099) 41%);
    flex-direction: column;
    justify-content: space-between;
}

.foot-card>a {
    background-color: #D90368;
}

.card-img-top {
    height: 160px;

}

.foot-card {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.icon {
    height: 40px;
}

table,
th,
td {
    
    border: 2px solid yellow;
    padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    font-size: large;

}

table {

    width: 80%;
    color: yellow;
    background-color: midnightblue;
    
     
    
}

p,
th,
li {
    font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
}

.details {
    border: 2px solid #D90368;
    border-radius: 1em;
    box-shadow: 3px 3px 5px #D90368;
    margin-top: 100px;
    padding: 15px;
    background: rgb(195, 151, 34);
    background: linear-gradient(180deg, rgba(195, 151, 34, 0.520045518207283) 0%, rgba(253, 242, 45, 0.5704656862745099) 41%);
}

input,
textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    border-radius: 0.5rem;
}

.input-email {
    padding-right: 4px;
}

.form-contact {
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

h5,
a[href="./details.html"] {
    font-family: 'Times New Roman', Times, serif;
}

.error {
    margin-top: 50px;
    height: 300px;
}

.dataimg {
    height: 300px;
    border-radius: 2rem;

}

#back {
    height: 70px;
    border-radius: 50%;
    border-color: #D90368;
    box-shadow: 2px 2px 2px #D90368;
    background-color: #D90368;
    color: aliceblue;

}

.stats {

    background-image: url("/images/photo-5329.jpg!d");

}

.date {
    display: flex;
    margin-top: 44%;
    margin-left: 75%;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    position: absolute;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: aliceblue;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
    font-size: smaller;
    justify-content: center;
    align-items: center;
    

}